PROTOCOL=http
BASE_URL=localhost:54321
PORT=54321
DEBUG=
INSTRUMENTED_FOR_TEST=
KEEP_LEDGER_PRIVATE=
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_OAUTH_TOKEN_URL=https://connect.stripe.com/oauth/token
STRIPE_OAUTH_AUTHORIZE_URL=https://connect.stripe.com/oauth/authorize
STRIPE_CLIENT_ID=
STRIPE_MINIMUM_AMOUNT=0.5
OUR_PROCESSING_FEE_CENTS=
OUR_PROCESSING_CURRENCY=USD
OUR_RETARGET_FEE_CENTS=

RATE_LIMIT_FE_WINDOW_MS=1000
RATE_LIMIT_FE_MAX_REQUESTS_PER_WINDOW=100
RATE_LIMIT_FE_REDIS_URI=redis://localhost:6379
RATE_LIMIT_FE_REDIS_NAMESPACE=oh-public-rate-limit
RATE_LIMIT_BE_WINDOW_MS=1000
RATE_LIMIT_BE_MAX_REQUESTS_PER_WINDOW=100
RATE_LIMIT_BE_REDIS_URI=redis://localhost:6379
RATE_LIMIT_BE_REDIS_NAMESPACE=oh-backend-rate-limit

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=ohledger
POSTGRES_USER=adam
POSTGRES_PASSWORD=c0c0nut
POSTGRES_SSL=
POSTGRES_HOST_AUTH_METHOD=md5
SELECT_MAX_ROWS=30
SALT=c0c0nut
TOKEN_URL=https://token.overhide.io/validate
INTERNAL_TOKEN=
ISPROD=
RECAPTCHA_URI=https://www.google.com/recaptcha/api/siteverify
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
KEYV_URI=
KEYV_RETARGET_NAMESPACE=retarget
KEYV_RETARGET_TTL_MILLIS=
KEYV_TALLY_CACHE_URI=redis://localhost:6379
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=true
SMTP_USER=
SMTP_PASSWORD=
MAILER_FROM=
